.thum-img {
  width: 5%;
  border-radius: 20px;
}

.navbar {
  border-color: bisque;
}
.readreceipt {
  display: flex;
  background-color: rgb(255, 176, 6);
  width: 2%;
  border-radius: 25px;
  max-height: 1.3vh;
}
.readreceiptbox {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50%;
}
.indbox-cont {
  display: flex;
  justify-content: space-around;
  max-height: 4vh;
}
.indbox-cont h5 {
  color: rgb(13, 26, 145);
}

.thum-img2 {
  width: 20%;
  max-height: 10vh;
}

.bk-inbox {
  /* background-image: linear-gradient(
    to right,
    #ff00b7 0%,
    #031941 30%,
    #27021d 100%
  ); */
  background-color: rgb(235, 216, 253);
}
